
/*codigo personalizado*/

#back{
    width: 100%;
    height: 590px;
    background-image: url("http://127.0.0.1:8000/img/inven.jpg");    
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .color{
    color: black;
    
  }
  
  /* Shrinking the sidebar from 250px to 80px and center aligining its content*/
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
  }
  
  /* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
  #sidebar .sidebar-header strong {
    display: none;
  }
  #sidebar.active .sidebar-header h3 {
    display: none;
  }
  #sidebar.active .sidebar-header strong {
    display: block;
  }
  
  #sidebar ul li a {
    text-align: left;
  }
  
  #sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
  }
  
  #sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
  }
  
  /* Same dropdown links padding*/
  #sidebar.active ul ul a {
    padding: 10px !important;
  }
  
  /* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
  #sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  
  @media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
  
  
    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0; 
    }
  
  
    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }
  
    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }
  
    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }
  
    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }
  
    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
  }
  
  .wrapper {
    display: block;
    align-items: stretch;
  }
  
  #sidebar {
    min-width: 250px;
    max-width: 220px;
    min-height: 100vh;
  }
  
  #sidebar.active {
    margin-left: -10px;
  }
  
  a[data-toggle="collapse"] {
    position: relative;
  }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  
  
  
  @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
  
  
  body {
      font-family: 'Poppins', sans-serif;
      background: #fafafa;
  }
  
  p {
      font-family: 'Poppins', sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.7em;
      color: #999;
  }
  
  a, a:hover, a:focus {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
  }
  
  #sidebar {
      /* don't forget to add all the previously mentioned styles here too */
      background: #63e86d;      
      color: #fff;
      transition: all 0.3s;
  }
  
  #sidebar .sidebar-header {
      padding: 20px;
      background: #63e86d;
  }
  
  #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #47748b;
  }
  
  #sidebar ul p {
      color: #fff;
      padding: 10px;
  }
  
  #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
  }
  #sidebar ul li a:hover {
      color: #36b33f;
      background: #fff;
  }
  
  #sidebar ul li.active > a, a[aria-expanded="true"] {
      color: #36b33f;
      background: #e2e2e2;
  }
  ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #e2e2e2;
  }


  /*Estilo del nav menú masterproducts*/
  .bs-example{
    margin: 20px;
   }

   .padding-0{
        padding-right:0;
        padding-left:0;
   }


   #sidebar ul li a{
       color:#4a6f96;
   }

   .logo{
       color:#4a6f96;
   }

   .logo:hover{
       color:#e2e2e2;
   }




/*css para que funcione el sidebar*/


   ul, #myUL {
    list-style-type: none;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
  }
  
  /*.caret::before {
    content: "\25B6";
    color: black;
    display: none;
    margin-right: 6px;
  }*/
  
  .caret-down::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }

  /*para nav bar*/

  #content nav{
    background: #63e86d ;
  }

  #content nav div button{
    background: #4a6f96;
  }

  #content nav div div ul li div a{
    color: #4a6f96;
  }

   /*para modales*/

  .modall-he{
    flex-direction:column;
    background: #78cceb;
  }

  .modall-fo{
    background: #78cceb;
  }

  /*para los card*/

  #cardd-hea{
  background-color: #63e86d45;
  }